{
    "extends": [
        "react-app",
        "airbnb"
    ],
    "overrides": [
        {
            "files": [
                "*.js"
            ],
            "rules": {
                "react/jsx-filename-extension": "off",
                "jsx-a11y/click-events-have-key-events": "off"
            }
        }
    ]
}