@import "../variables.css";

.primaryTableRow {
    flex: 9;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

.secondaryTableRow {
    flex: 8;
    color: var(--secondary-font-color);
    background-color: var(--secondary-bg-color);
}

.numberContainer {
    font-size: 25px;
}

.columnItem {
    
}