@import "../variables.css";

.columnsContainer {
    background-color: var(--main-bg-color);
    display: flex;
}

.leftColumn {
    text-align: right;
}

.commonColumns {
    flex: 1;
    padding: 0px 5px;
}

.swipeableContainer {
    height: 100%;
}

.swipeableContainer>div {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}