@import "../variables.css";

.columnsContainer {
    background-color: var(--main-bg-color);
    display: flex;    
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: var(--semidark-bg-color);
}

.leftColumn {
    text-align: right;
    flex-flow: row-reverse;
    border-width: 0px 1px 0px 0px;
    
}

.rightColumn {
    flex-flow: row;
    border-width: 0px 0px 0px 1px;
}

.commonColumns {
    border-style: dashed;
    border-color: var(--semidark-bg-color);
    flex: 1;
    padding: 0px 8px;
    height: 100%;
    align-items: center;
    display: flex;
}

.swipeableContainer {
    height: 100%;
}

.swipeableContainer>div {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}